html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}* {
  margin: 0;
  padding: 0;
}
*, *::before, 
 *::after {
  box-sizing: inherit;
}
.container {
  margin: 0 auto;
  max-width: 1110px;
}
.main-store {
  background-color: #e9f0fd;
}
.page-header {
  padding: 38px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.site-logo {
  display: inline-block;
  vertical-align: middle;
  
}
.site-navigation {
  margin: 0;
  text-align: right;
  padding: 0;
  vertical-align: middle;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none; 
  
}
.site-navigation li {
  display: inline-block;
  padding: 0 15px;
}
.site-navigation li:hover,
.site-navigation li:focus {
  color: #1abc9c;
}
.site-navigation li:last-child {
  margin-right: 0; 
}


.slider {
  position: relative;
  width: 100%;
  height: 600px;
  margin: auto;
}
.slider-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1111px;
  height: 600px;   
}
.slider-ctrl { 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 104px;
  height: 104px;
  background: #1abc9c;
  border: none;
  font-size: 40px;
  color: #ffffff;
}    
.slider-ctrl-prev {
  left: 0;
  
}
.slider-ctrl-next {
  right: 0;
  
}
.slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slides img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}
.slider-descr {
  position: relative;
}
.slider-name {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
   
}

.slider-head {
  top: 37%;
  left: 27%;
  font-size: 50px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;

}
.slider-text {
  top: 53%;
  left: 27%;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  margin: 96px 0 120px 0;    
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
}
h2 {
  position: relative;
}
h2::after {
  content: '';
  width: 162px;
  height: 8px;
  background: #1abc9c;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
.new-collection {
  list-style-type: none;
  
}

.new-collection-item {
  width: 254px;

}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.box-1:first-child {
  float: left;
  width: 202px;
  height: 40px;
  padding: 12px;
  background: #323232;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
.box-1:last-child {
  float: right;
  width: 52px;
  height: 40px;
  background: #8c8c8c;
  padding: 12px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.new-collection-item {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.new-collection-item:last-child {
  margin-right: 0;
}
.new-collection-item:hover .box-1:first-of-type {
  background: #1abc9c;
}
.new-collection-item:hover .box-1:last-of-type {
  background: #7fd9c7;
}
.card {
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  width: 236px;
  height: 260px;
  background: rgba(115, 115, 115, 0.79);
  visibility: hidden;
  
}

.card:hover .overlay {
  visibility: visible;
  color: rgba(127, 217, 199, 0.71);
}
.overlay {
  display: inline-block;
}

.icon-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;

}
.icon-list li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 3px;
  margin-top: 80px;
  border: 1px solid rgb(255, 255, 255);
  background-position: center;
  cursor: pointer;
}
.icon-list:first-child {
  margin-left: 20px;
}
.icon-image {
  margin: 10px;
  
}
.icon-list li:hover,
.icon-list li:focus  {
  background: #1abc9c;
 
}
.overlay-button:hover,
.overlay-button:focus {
  background: #1abc9c;
}
.overlay-button {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(105%);
  min-width: 163px;
  height: 50px;
  border: 2px solid #ffffff;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background:  #323232;
  cursor: pointer;
}
.overlay-button img {
  left: 4px;
  position: absolute;
  top: 9px;
}
.footer {
  padding: 36px 0 36px 0;
  height: 90px;
  background: #323232;
  
}
.footer-content {
  text-align: center;
  font-size: 18px;
}

.f-1 {
  color: #ffffff;
}
.f-2 {
  color: #46bfa9;
}